
/* 
    font-family: 'Abel', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oswald', sans-serif; */


body {
    background-color: #f1f1f1;
}

.bg-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 95vh;
    background: url("skylight.jpg");
    background-repeat: no-repeat;
    /* background-color: red; */
    /* right: -5vw; */
    background-size: 100%;
    background-position: 10% 60%;
    

}
header {
    width: 900px;
    height:200px;
    position: relative;
    margin: 0 auto;
}
nav>ul {
    position: absolute;
    right: 0;
}
nav>ul>li{
    list-style: none;
    float: left;
}

nav>ul>li>a {
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    color: #fff;
    font-style: bold;
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    text-align: center;
}
.btn {
    margin: 0 20px 0 20px;
    background-color: #ddcfc0;
    border-radius: 20px;
    padding: 10px;
}